@model IEnumerable<KouStoreAdmin.Models.Product>

<div>

    <a href="@Url.Action("Create", "Product")" class="btn btn-primary"><i class="fa fa-plus"></i> Ürün Ekle</a>
</div>
<br /><br />
<div id="product" class="table-responsive ">
    <table class="table table-condensed table-hover table-bordered table-striped table">
        <tr>
            <th>
                Ürün Adı
            </th>

            <th>
                Birim Fiyatı
            </th>
            <th>
                Eski Fiyat
            </th>
            <th>
                Kategori Adı
            </th>
            <th>

                Stok
            </th>
            <th>İşlemler</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.UnitPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OldPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.UnitInStock)
                </td>



                <td>
                    <a class="btn btn-sm btn-primary" href="@Url.Action("Edit", "Product", new { id = item.ProductID })" aria-label="Edit">
                        <i class="fa fa-edit" aria-hidden="true"></i>
                    </a>
                   
                    <a class="btn btn-sm btn-danger" href="@Url.Action("Delete", "Product", new { id = item.ProductID })" aria-label="Delete">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
        }

    </table>
</div>
