@model IEnumerable< KouStore.Models.OrderDetail>
@{
    ViewBag.Title = "Index";
}

 <!-- catg header banner section -->
<section id="aa-catg-head-banner">
    <img src="~/Content/img/fashion/fashion-header-bg-8.jpg" alt="fashion img">
    <div class="aa-catg-head-banner-area">
        <div class="container">
            <div class="aa-catg-head-banner-content">
                <h2>Satınalma Sayfası</h2>
                <ol class="breadcrumb">
                    <li><a href="index.html">Anasayfa</a></li>
                    <li class="active">Satın Alma Ekranı</li>
                </ol>
            </div>
        </div>
    </div>
</section>
@using (Html.BeginForm("PlaceOrder", "CheckOut", FormMethod.Post))
{ 
<!-- / catg header banner section -->
<!-- Cart view section -->
<section id="checkout">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="checkout-area">
                    <form action="">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="checkout-left">
                                    <div class="panel-group" id="accordion">
                                        <!-- Coupon section -->
                                        <div class="panel panel-default aa-checkout-coupon">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                                        Kocaeli Üniversitesi Öğrencilerine Özel Kupon Kodunuz var mı ?
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseOne" class="panel-collapse collapse in">
                                                <div class="panel-body">
                                                    <input type="text" placeholder="Kupon Kodu" class="aa-coupon-code">
                                                    <input type="submit" value="Kodu Kullan" class="aa-browse-btn">
                                                </div>
                                            </div>
                                        </div>
                                       
                                        <!-- Billing Details -->
                                        <div class="panel panel-default aa-checkout-billaddress">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                                        Fatura Detayları / Teslimat Adresi
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseThree" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="aa-checkout-single-bill">
                                                                <input name="FirstName" type="text" required placeholder="İsim*">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="aa-checkout-single-bill">
                                                                <input name="LastName" type="text" required placeholder="Soyisim*">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="aa-checkout-single-bill">
                                                                <input name="Email" type="email" required placeholder="Email Addresi*">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="aa-checkout-single-bill">
                                                                <input name="Mobile" type="tel" required placeholder="Mobil Telefon*">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="aa-checkout-single-bill">
                                                                <textarea name="Address" cols="8" required rows="3" placeholder="Adres*"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="aa-checkout-single-bill">
                                                                <select name="Province"> 
                                                                    <option value="--">Bölge Seçin</option>
                                                                    <option value="Punjab">İstanbul</option>
                                                                    <option value="KPK">Kocaeli</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">                                                        
                                                        <div class="col-md-6">
                                                            <div class="aa-checkout-single-bill">
                                                                <input name="City" type="text" placeholder="Şehir / İlçe">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="aa-checkout-single-bill">
                                                                <input name="PostCode" type="text" placeholder="Posta Kodu">
                                                            </div>
                                                        </div>
                                                    </div>                                                    
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="checkout-right">
                                    <h4>Sipariş Özeti</h4>
                                    <div class="aa-order-summary-area">
                                        <table class="table table-responsive">
                                            <thead>
                                                <tr>
                                                    <th>Ürün</th>
                                                    <th>Toplam</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                             @if (Session["username"]!=null)
                                             {
                                                foreach (var item in Model)
                                                {           
                                                
                                                <tr>
                                                    <td>@item.Product.Name <strong> x  @item.Quantity</strong></td>
                                                    <td>@item.TotalAmount</td>
                                                </tr>
                                                }
                                             }
                                            else
                                            {
                                                <text>Satın alma işlemini gerçekleştirmek için lütfen giriş yapın.</text>
                                            }
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <th>Aratoplam</th>
                                                    <td>@ViewBag.SubTotal</td>
                                                </tr>
                                                <tr>
                                                    @Html.Hidden("discount", null,new { @value=ViewBag.Discount })
                                                    <th>İndirim</th>
                                                    <td>@ViewBag.Discount</td>
                                                </tr>
                                                <tr>
                                                    @Html.Hidden("totalAmount", null,new { @value=ViewBag.TotalAmount })
                                                    <th>Toplam</th>
                                                    <td>@ViewBag.TotalAmount</td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                    <h4>Ödeme Metodu</h4>
                                    <div class="aa-payment-method">
                                        
                                        <div class="aa-checkout-single-bill aa-checkout-billaddress">
                                            <div class="form-group">
                                                
                                                <div class="col-md-10">
                                                    @Html.DropDownList("PayMethod", null, htmlAttributes: new { @class = "form-control", @name="PaymentMethod" })
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        <br /><br />
                                        <img src="https://www.paypalobjects.com/webstatic/mktg/logo/AM_mc_vs_dc_ae.jpg" border="0" alt="PayPal ödeme">
                                        <input type="submit" value="Sipariş Ver" class="aa-browse-btn">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Cart view section -->
}
